*{
    box-sizing: border-box;
}



.sokefelt{
    
    padding: 1rem;

    form{
        padding: 1rem;
        
    }
}

.movieCards{
    background-color: white;

}

.btn {
  display: inline-block;
  border: 1px solid #9f9f9f;
  text-decoration: none;
  padding: 0.8rem 1.8rem;
  border-radius: 30px;
  color: #b6b4b4;
}